@import 'static/styles/mixins.scss';


.Error {
    padding: 32px 0;

    &-Title {
        @include text-size-l;
        @include text-weight-l;

        color: var(--color-accent);
        padding-bottom: 14px;
    }

    &-Message {
        @include text-size-m;
    }
}