@import 'static/styles/mixins.scss';

.NavDescription {
    &-Title {
        @include text-size-l;
        @include text-weight-l;

        display: flex;
        margin-top: 10px;
    }

    &-Info {    
        padding: 11px 0;
    }
}