@import 'static/styles/mixins.scss';

.RepositoryToggle {
    height: 100%;

    &-Button {
        @include text-weight-l;
    }

    &-Item {
        padding: 14px 22px;
        cursor: pointer;

        &:hover {
            background: var(--color-gray-light-2);
        }
    }
}