.Dropdown {

    &-Button {
        height: 100%;
        cursor: pointer;
        user-select: none;
    }

    &-Block {
        display: none;
        position: absolute;
        background: #fff;
        width: 360px;
        height: auto;
        max-height: 240px;
        overflow-y: auto;
        box-shadow: 0px 4px 16px rgba(53, 73, 93, 0.2);
        border-radius: 5px;
        z-index: 100;

        &_state_open {
            display: block;
        }
    }

    &-Icon {
        width: 10px;
        height: 100%;

        &_state_open {
            transform: rotate(180deg);
        }
    }
}